/* hiding scrollbars */
html::-webkit-scrollbar {
	display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* other */
.fixed-bottom {
	border-top: 1px gray solid;
	background-color: white;
}

@media (max-width: 768px) {
	.section-name {
		text-align: center;
	}
}