/* hiding scrollbars */
html::-webkit-scrollbar {
	display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* other */
.fixed-bottom {
	border-top: 1px gray solid;
	background-color: white;
}

.tip {
    text-decoration: none
}
.tip:hover {
    cursor: help;
    position: relative
}
.tip span {
	display: none
}
.tip:hover span {
	white-space: nowrap;
    padding: 5px;
    display: block;
    z-index: 100;
	background-color: white;
	border-radius: 5px;
    left: 0px;
    margin: 10px;
    position: absolute;
    top: -50px;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.draw-container {
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 1px solid gray;
	z-index: 1;
}

.options-preset {
	position: absolute;
	top: 5px;
	right: -15px;
	z-index: 1;
}

.options-preset .options-btn {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(../icons/settings.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	background-color: #6c757d;
}

@media (max-width: 768px) {
	.draw-container .draw-description {
		font-size: .8rem;
	}

	.section-name {
		text-align: center;
	}

	.options-preset {
		position: fixed;
		top: unset;
		bottom: 50px;
		right: 10px;
		z-index: 1;
	}

	.options-preset .options-btn {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: url(../icons/settings.svg);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: center;
		background-color: #6c757d;
	}
}